{
  "presets": [ 
    "stage-1",
    ["env", {
      "targets": {
        "node": 0.10
      }
    }]
  ],
  "plugins": [
    "transform-async-to-generator",
    "transform-object-assign",
    "syntax-async-functions",
    "transform-regenerator",
    ["transform-runtime", {
      "polyfill": true,
      "regenerator": true,
    }]
  ]
}