{
  "env": {
    "node": true,
    "es2021": true,
    "vitest/globals": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "no-extra-boolean-cast": 0,
    "no-unused-vars": [2, {"args": "after-used", "argsIgnorePattern": "^_"}]
  },
  "plugins": []
}
